USE [ApplicationServices_IM]
GO
/****** Object:  Table [dbo].[tbldfEpics]    Script Date: 4/13/2020 3:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbldfEpics](
	[Epic] [varchar](25) NULL,
	[Descr] [varchar](25) NULL
) ON [PRIMARY]
GO
