USE [ApplicationServices_IM]
GO
/****** Object:  Table [dbo].[tblmapping]    Script Date: 4/13/2020 3:15:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblmapping](
	[client] [varchar](255) NULL,
	[project] [varchar](255) NULL
) ON [PRIMARY]
GO
