USE [ApplicationServices]
GO
/****** Object:  Table [dbo].[tmpColumns]    Script Date: 4/14/2020 11:24:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmpColumns](
	[COLUMN_NAME] [sysname] NULL
) ON [PRIMARY]
GO
