USE [ApplicationServices]
GO
/****** Object:  Table [dbo].[Customer_XRef]    Script Date: 4/14/2020 11:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer_XRef](
	[Project] [varchar](255) NULL,
	[CustomerName] [varchar](255) NULL
) ON [PRIMARY]
GO
