USE [ApplicationServices]
GO
/****** Object:  Table [dbo].[QATimeFrame]    Script Date: 4/14/2020 11:24:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QATimeFrame](
	[TimeFrame] [varchar](50) NULL
) ON [PRIMARY]
GO
