USE [ApplicationServices]
GO
/****** Object:  Table [dbo].[QAWarnFailFlag]    Script Date: 4/14/2020 11:24:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QAWarnFailFlag](
	[HasWarnFail] [varchar](50) NULL
) ON [PRIMARY]
GO
