USE [ApplicationServices]
GO
/****** Object:  Table [dbo].[tblUsers]    Script Date: 4/14/2020 11:24:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUsers](
	[Server Name] [nvarchar](256) NULL,
	[USERNAME] [nvarchar](128) NULL
) ON [PRIMARY]
GO
