USE [ApplicationServices]
GO
/****** Object:  Table [dbo].[tblFFGroupMapping]    Script Date: 4/14/2020 11:24:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFFGroupMapping](
	[Milestone] [varchar](255) NULL,
	[GroupCode] [varchar](10) NULL
) ON [PRIMARY]
GO
