USE [ApplicationServices]
GO
/****** Object:  Table [dbo].[adhocuser]    Script Date: 4/14/2020 11:24:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adhocuser](
	[Server Name] [nvarchar](256) NULL,
	[name] [varchar](50) NULL
) ON [PRIMARY]
GO
